body {
  font-family: 'Antic Slab', serif;
}

.navbar {
  background-color: #FFC72C;
  border-bottom: solid #005587;
}

.navy-blue {
  color: #005587;
}

.nav-link {
  color: #005587;
}

.navbar-toggler {
  color: white;
  background-color: #005587;
}

.navbar-toggler span {
  color: white;
}

#navbarResponsive a {
  color: #005587;
  display: inline-block;
}

#navbarResponsive a:hover {
  border-bottom: solid 1px white;
}

.fa-home:hover {
  border-bottom: solid 1px white;
}

#home {
  font-size: 40px;
}

.nav-items {
  font-size: 20px;
}

#navbarResponsive {
  z-index: 2;
}

#first-row {
  margin-top: 100px;
}

.circular {
  border-radius: 50%;
}

#headshot {
  height: 200px;
  width: 200px;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.intro h1 {
  font-size: 70px;
}

.intro p {
  font-size: 25px;
}

.main-heading {
  font-size: 45px;
}

#page-top {
  scroll-margin-top: 150px;
}

#work {
  scroll-margin-top: 150px;
}

#about {
  scroll-margin-top: 150px;
}

#contact {
  scroll-margin-top: 150px;
}

@media (max-width: 768px) {
  .intro h1 {
    text-align: center;
    font-size: 50px;
  }

  .intro p {
    text-align: center;
    font-size: 30px;
  }
}

.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
  position: relative;
  border: solid 1px;
}

.work-link {
  text-decoration: none !important;
  font-size: 40px;
  color: black;
}

.work-link:hover {
  border-bottom: solid 2px #005587;
  color: black;
}

@media (max-width: 768px) {
  .col-12 {
    text-align: center;
  }

  .main-heading {
    text-align: center;
  }
}

.source {
  font-size: 20px;
}

.blue-border {
  border-bottom: solid #005587;
}

.about-me {
  font-size: 21px;
  line-height: 1.9;
}

@media (max-width: 768px) {
  .about-me {
    font-size: 15px;
    text-align: left;
  }

  #contact {
    font-size: 38px;
    text-align: left;
  }
}

.social-btn {
  /* background-color: #0074B7; */
  background-color: #005587;
  color: #FFB81C;
  border: solid #FFB81C;
  font-size: 30px;
}

.social-btn:hover {
  background-color: #FFB81C;
  color: #005587;
  border: solid #005587;
}

@media (max-width: 768px) {
  .social-btn {
    font-size: 16px;
  }
}

.direct-email {
  font-size: 25px;
  text-align: center;
}

#resume {
  text-decoration: none !important;
  color: #005587;
}

#resume:hover {
  border-bottom: solid 2px #005587;
  color: #FFB81C;
}

.blue-bold {
  font-weight: bolder;
  color: #005587;
}

@media (max-width: 768px) {
  .direct-email {
    font-size: 15px;
  }
}

.bg-blue {
  background-color: #005587;
}

.copyright {
  color: #FFB81C;
  font-size: 14px;
}

.gold-border {
  border-top: solid #FFB81C;
}
